Repository JanEricNitschke/TicTacToe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pylint, cargo-fmt, cargo-check, clippy, checkstyle

pyright:
  name: pyright
  entry: pyright -p tictactoe_python/pyproject.toml tictactoe_python/tictactoe/
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint tictactoe_python/tictactoe/
  language: system
  pass_filenames: false
  args:
  - -rn
  - -sn

cargo-fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: bash -c 'cd tictactoe_rust && cargo fmt'
  language: system

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: bash -c 'cd tictactoe_rust && cargo check'
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Lint rust sources
  entry: bash -c 'cd tictactoe_rust && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

checkstyle:
  name: checkstyle
  description: Check java style
  entry: bash -c 'cd tictactoe_java && mvn checkstyle:check'
  language: system
  pass_filenames: false

Update python CI and pre-commit
  .github/workflows/python.yaml
  .pre-commit-config.yaml
Due: none

Skeleton for mojo version
  .github/workflows/mojo.yaml
  tictactoe_mojo/.gitattributes
  tictactoe_mojo/.gitignore
  tictactoe_mojo/magic.lock
  tictactoe_mojo/main.🔥
  tictactoe_mojo/mojoproject.toml
  tictactoe_mojo/test/test_game.🔥
  tictactoe_mojo/tictactoe/__init__.🔥
  tictactoe_mojo/tictactoe/game.🔥
Due: none

Working 2 player version
  .github/workflows/mojo.yaml
  tictactoe_mojo/main.🔥
  tictactoe_mojo/tictactoe/game.🔥
Due: none

Slight rework of check win, not final yet
  tictactoe_mojo/tictactoe/game.🔥
Due: none

Got mojo version running
  README.md
  tictactoe_mojo/main.🔥
  tictactoe_mojo/test/test_game.🔥
  tictactoe_mojo/tictactoe/game.🔥
Due: none

Use format for hashmap indexing
  tictactoe_rust/tictactoe_rust/src/lib.rs
Due: cargo-fmt, cargo-check, clippy

Fix some typos
  tictactoe_go/tictactoe_go_test.go
  tictactoe_haskell/src/TicTacToeHaskell.hs
Due: none

Fix typo
  tictactoe_java/src/main/java/tictactoe/game/Player.java
Due: checkstyle

Add additional error message to C extension
  tictactoe_c/tictactoe_c/tictactoe_py.c
Due: none

Add run step to assembly version
  .github/workflows/assembly.yaml
  tictactoe_assembly/input1.txt
  tictactoe_assembly/input2.txt
Due: none

Fix typo
  tictactoe_assembly/tictactoe.asm
Due: none

Add autorun for fortran and cobol
  .github/workflows/cobol.yaml
  .github/workflows/fortran.yaml
  tictactoe_cobol/input.txt
  tictactoe_fortran/input1.txt
  tictactoe_fortran/input2.txt
Due: none

Add sleep to prolog version
  tictactoe_prolog/tictactoe_prolog.pl
Due: none

Add elm to be managed by dependabot
  .github/dependabot.yml
Due: none

Update pre-commit
  .pre-commit-config.yaml
Due: none

Fix dependabot config
  .github/dependabot.yml
Due: none

Update pascal.yaml
  .github/workflows/pascal.yaml
Due: none

Update dart
  tictactoe_dart/lib/main.dart
  tictactoe_dart/pubspec.yaml
Due: none

Update CI dependencies
  .github/workflows/analog_polarization_WZ.yaml
  .github/workflows/python.yaml
  .pre-commit-config.yaml
Due: none

Try to fix mojo CI
  .github/workflows/mojo.yaml
Due: none

Update pre-commit
  .github/workflows/python.yaml
  .golangci.yaml
  .pre-commit-config.yaml
  tictactoe_java/src/main/java/tictactoe/TicTacToe.java
Due: checkstyle

Try to fix kotlin CI
  .github/workflows/kotlin.yaml
  tictactoe_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: none

Bump gradel to 8.11 for CI
  .github/workflows/kotlin.yaml
  tictactoe_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: none

Fixes for rand 0.9.0
  tictactoe_rust/tictactoe_rust/src/lib.rs
Due: cargo-fmt, cargo-check, clippy

Fix some clippy warnings
  tictactoe_rust/tictactoe_rust/src/lib.rs
  tictactoe_rust/tictactoe_rust_python/Cargo.toml
Due: cargo-fmt, cargo-check, clippy

Remove readme from rust python module
  tictactoe_rust/tictactoe_rust_python/Cargo.toml
Due: none

Move rust version to 2024 edition
  .github/workflows/rust.yaml
  tictactoe_rust/Cargo.lock
  tictactoe_rust/tictactoe_rust/Cargo.toml
  tictactoe_rust/tictactoe_rust/src/lib.rs
  tictactoe_rust/tictactoe_rust_python/Cargo.toml
Due: cargo-fmt, cargo-check, clippy

Path conditions:
  pyright: any of: \.py$, but not: docs/|fibonacci/
  pylint: any of: \.py$, but not: docs/|fibonacci/
  cargo-fmt: any of: \.rs$, but not: docs/|fibonacci/
  cargo-check: any of: \.rs$, but not: docs/|fibonacci/
  clippy: any of: \.rs$, but not: docs/|fibonacci/
  checkstyle: any of: \.java$, but not: docs/|fibonacci/
